#net-window {
  width: 80vw;
  height: 80vh;
  position: sticky;
}

#net-window .net-window-svg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#net-window .net-window-svg line.packet {
  stroke-width: 1px;
  stroke: red;
  animation: fade-out ease-out 2s;
  animation-fill-mode: both;
  animation-delay: 0s;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

#net-window .hosts {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

#net-window .hosts .host {
  position: absolute;
  left: calc(var(--x-pos) * 1%);
  top: calc(var(--y-pos) * 1%);
  transform: translate(-50%, -50%);
  width: 1vw;
  height: 1vw;
  border-radius: 50%;
  background-color: #f77;
}

#net-window .hosts .host.lan {
  background-color: #0ff;

}