#net-window {
  width: 80vw;
  height: 80vh;
  position: sticky;
}

#net-window .net-window-svg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#net-window .net-window-svg line.hop {
  stroke-width: 4px;
  stroke: #ff0000a0;
  animation: fade-out ease-out 2s;
  animation-fill-mode: both;
  animation-delay: 0s;
}

#net-window .net-window-svg line.hop.unknown-intermediates {
  stroke-dasharray: 40 4 4 4 4 4 40;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

#net-window .nodes {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

#net-window .nodes .node {
  position: absolute;
  left: calc(var(--x-pos) * 1%);
  top: calc(var(--y-pos) * 1%);
  transform: translate(-50%, -50%);
  width: 42px;
  height: 42px;
  border-radius: 50%;
  --gradient-color: #f77;
  background-color: var(--gradient-color);

  box-shadow: 0 0 10px -2px var(--gradient-color);
}

#net-window .nodes .node.lan {
  --gradient-color: #0ff;
}