body {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  box-sizing: border-box;
  padding: 20px;
  margin: 0;
  display: flex;
  flex-direction: column;
}

#control {
  height: 40px;
}

#net-window {
  flex-grow: 1;
}