#net-window {
  position: sticky;
  border: 2px solid black;
  border-radius: 20px;
}

#net-window .net-window-svg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#net-window .net-window-svg line.hop {
  stroke-width: 4px;
  stroke: #ff0000a0;
  animation: fade-out ease-out 2s;
  animation-fill-mode: both;
  animation-delay: 0s;
}

#net-window .net-window-svg line.hop.unknown-intermediates {
  stroke-dasharray: 40 4 4 4 4 4 40;
}

#net-window .net-window-svg line.hop.broadcast {
  stroke: #00a0ffa0;
}

#net-window .net-window-svg line.hop.multicast {
  stroke: #a000ffa0;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

#net-window .nodes {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

#net-window .nodes .node {
  position: absolute;
  left: calc(var(--x-pos) * 1%);
  top: calc(var(--y-pos) * 1%);
  transform: translate(-50%, -50%);

  width: 42px;
  height: 42px;
  border-radius: 50%;
  --ip-color: #f77;
  --outline-color: #f77;
  background-color: var(--ip-color);

  box-shadow: 0 0 10px -2px var(--ip-color);
}

#net-window .nodes .node.ipv6 {
  --outline-color: #70f;
}

#net-window .nodes .node.lan {
  --outline-color: #0ff;
}

#net-window .nodes .node.localhost {
  --outline-color: #0f4;
}

#net-window .nodes .node:where(.lan, .localhost)::after {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 120%;
  height: 120%;

  transform-origin: center center;
  transform: translate(-50%, -50%);

  border-radius: 50%;
  border: 4px solid var(--outline-color);
  pointer-events: none;
  content: "";
  transition: transform 0.1s ease-out, filter 0.1s ease-out;
}

#net-window .nodes .node:hover {
  transform: translate(-50%, -50%) scale(1.05);
}

#net-window .nodes .node.selected {
  transform: translate(-50%, -50%) scale(1.1);
  filter: brightness(0.8);
}